.post_form
{
    border: 2px solid black;
    width: 80%;
    height: 80%;
    padding: 2%;
    margin: 10%;
}


.apost
{
    margin:2%;
}

nav
{
    margin:2px;
}

.register
{
    border: 2px solid black;
    text-align: left;
    height: 60%;
    width:60%;
    margin: 2%;
    padding: 2%;
    background-color: #E8E8E8;

}

input
{
    width:50%;
}